{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "import/order": 0,
    "no-plusplus": 0
  },
  "env": {
    "jest": true
  },
  "parser": "babel-eslint"
}
