name: time-sync
on:
  - push

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: bahmutov/npm-install@v1
      - name: Build
        run: npm run build
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run test-ci
        env:
          TZ: Europe/Berlin
      - name: Upload test coverage information
        run: bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload build
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: build
  release:
    name: release
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Download build
        uses: actions/download-artifact@v6
        with:
          name: build
          path: build
      - name: Release
        run: npx semantic-release@22 --branches main
        working-directory: build
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  notify-on-failure:
    needs:
      - build
      - release
    runs-on: ubuntu-latest
    if: failure() # only run this job when any of the previous jobs fail.
    steps:
      - name: Notify through commit comment
        uses: peter-evans/commit-comment@v4
        with:
          body: "@peterjuras: The workflow failed!"
